DATA_VALIDATOR_API_PORT=3004
LOGGING_LEVEL=debug
NEDB_DIRECTORY=/data-validator/storage/nedb
ENCRYPTOR_SERVICE_URL=http://localhost:3030
INITIAL_ACCOUNT_PRIVATE_KEY=
USE_LOCAL_IP_FOR_REGISTRATION=true
LOCAL_FILES_DIRECTORY=/data-validator/files
DATABASE_NAME=data_validator
DATABASE_USERNAME=admin
DATABASE_PASSWORD=12345
DATABASE_HOST=localhost
DATABASE_PORT=5432
RECREATE_DATABASE_SCHEMA=false
