@font-face {
  font-family: "SuisseMedium";
  src: local("SuisseMedium"), local("SuisseMedium"),
    url("./fonts/SuisseMedium.woff") format("woff"),
    url("./fonts/SuisseMedium.woff2") format("woff2");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "SuisseRegular";
  src: local("SuisseRegular"), local("SuisseRegular"),
    url("./fonts/SuisseRegular.woff") format("woff"),
    url("./fonts/SuisseRegular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
}
body {
  margin: 0;
  font-family: "SuisseRegular", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  min-width: 320px;
  overflow-x: auto;
  font-family: "SuisseRegular", sans-serif !important;
}
body {
  font-family: , sans-serif !important;
}
